VITE_SUPABASE_URL=https://afudaevglgiigytiuhsc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmdWRhZXZnbGdpaWd5dGl1aHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NTY4MjksImV4cCI6MjA4ODMzMjgyOX0.TNtYmri7NpZkxmwqZsAmPOfm2v2g4CgXpLlnA3EKfIQ
